/backend/uploads/
/.venv/
/backend/venv/
/backend/.env
/backend/key.txt
/backend/key.txt.pub
/backend/recreate_db.sh
/mobile/android/.gitignore
/mobile/ios/.gitignore
/mobile/linux/.gitignore
/mobile/macos/.gitignore
/mobile/windows/.gitignore
/mobile/.gitignore
/mobile/.metadata
/mobile/analysis_options.yaml
/mobile/android/app/src/debug/AndroidManifest.xml
/mobile/android/app/src/main/AndroidManifest.xml
/mobile/android/app/src/profile/AndroidManifest.xml
/mobile/windows/runner/resources/app_icon.ico
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/mobile/ios/Runner/AppDelegate.swift
/mobile/macos/Runner/AppDelegate.swift
/mobile/ios/Flutter/AppFrameworkInfo.plist
/mobile/macos/Runner/Configs/AppInfo.xcconfig
/mobile/android/app/build.gradle.kts
/mobile/android/build.gradle.kts
/mobile/linux/flutter/CMakeLists.txt
/mobile/linux/runner/CMakeLists.txt
/mobile/linux/CMakeLists.txt
/mobile/windows/flutter/CMakeLists.txt
/mobile/windows/runner/CMakeLists.txt
/mobile/windows/CMakeLists.txt
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/mobile/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/mobile/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/mobile/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/mobile/ios/Runner.xcworkspace/contents.xcworkspacedata
/mobile/macos/Runner.xcworkspace/contents.xcworkspacedata
/mobile/ios/Flutter/Debug.xcconfig
/mobile/macos/Runner/Configs/Debug.xcconfig
/mobile/macos/Runner/DebugProfile.entitlements
/mobile/web/favicon.png
/mobile/macos/Flutter/Flutter-Debug.xcconfig
/mobile/macos/Flutter/Flutter-Release.xcconfig
/mobile/windows/runner/flutter_window.cpp
/mobile/windows/runner/flutter_window.h
/mobile/linux/flutter/generated_plugin_registrant.cc
/mobile/windows/flutter/generated_plugin_registrant.cc
/mobile/linux/flutter/generated_plugin_registrant.h
/mobile/windows/flutter/generated_plugin_registrant.h
/mobile/linux/flutter/generated_plugins.cmake
/mobile/windows/flutter/generated_plugins.cmake
/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
/mobile/android/gradle.properties
/mobile/android/gradle/wrapper/gradle-wrapper.properties
/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/mobile/web/icons/Icon-192.png
/mobile/web/icons/Icon-512.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/mobile/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/mobile/web/icons/Icon-maskable-192.png
/mobile/web/icons/Icon-maskable-512.png
/mobile/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/mobile/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/mobile/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/mobile/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/mobile/web/index.html
/mobile/ios/Runner/Info.plist
/mobile/macos/Runner/Info.plist
/mobile/android/app/src/main/res/drawable/launch_background.xml
/mobile/android/app/src/main/res/drawable-v21/launch_background.xml
/mobile/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/mobile/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/mobile/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/mobile/ios/Runner/Base.lproj/LaunchScreen.storyboard
/mobile/linux/runner/main.cc
/mobile/windows/runner/main.cpp
/mobile/lib/main.dart
/mobile/ios/Runner/Base.lproj/Main.storyboard
/mobile/android/app/src/main/kotlin/com/example/mobile/MainActivity.kt
/mobile/macos/Runner/MainFlutterWindow.swift
/mobile/macos/Runner/Base.lproj/MainMenu.xib
/mobile/web/manifest.json
/mobile/linux/runner/my_application.cc
/mobile/linux/runner/my_application.h
/mobile/ios/Runner.xcodeproj/project.pbxproj
/mobile/macos/Runner.xcodeproj/project.pbxproj
/mobile/pubspec.lock
/mobile/pubspec.yaml
/mobile/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/mobile/README.md
/mobile/macos/Runner/Release.entitlements
/mobile/ios/Flutter/Release.xcconfig
/mobile/macos/Runner/Configs/Release.xcconfig
/mobile/windows/runner/resource.h
/mobile/windows/runner/runner.exe.manifest
/mobile/windows/runner/Runner.rc
/mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/mobile/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/mobile/ios/Runner/Runner-Bridging-Header.h
/mobile/ios/RunnerTests/RunnerTests.swift
/mobile/macos/RunnerTests/RunnerTests.swift
/mobile/ios/Runner/SceneDelegate.swift
/mobile/android/settings.gradle.kts
/mobile/android/app/src/main/res/values/styles.xml
/mobile/android/app/src/main/res/values-night/styles.xml
/mobile/windows/runner/utils.cpp
/mobile/windows/runner/utils.h
/mobile/macos/Runner/Configs/Warnings.xcconfig
/mobile/test/widget_test.dart
/mobile/windows/runner/win32_window.cpp
/mobile/windows/runner/win32_window.h
/mobile/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/mobile/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
