fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

redis
celery

ollama

opencv-python
pillow
pytesseract

python-multipart
pydantic
httpx

python-dotenv

loguru

deep-translator
langdetect
